/* Photo by Denise Jans on Unsplash */

body {
    background-image: url("./film.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: repeat-y;
}

section {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 5%;
}

.series {
    font-size: 18px;
    border-radius: 5%;
    padding: 7px;
    background-color: black;
    color: white;
    margin: 3px;
    border: none;
}

.series:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color:#bdbdbd;
    cursor: pointer;
}

#addbtn {
    font-size: 18px;
    padding: 15px;
}

#add-series, #clear {
    font-size: 14px;
    color: white;
    background-color: #d50000;
    border: none;
}

label {
    font-family: Arial, Helvetica, sans-serif;
}

#add-series:hover, #clear:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

/* .image {
    float: left;
    width: 30%;
    position: relative;
    height: 300px;
    width: 300px;
    object-fit: cover;
} */

img {
    padding: 5px;
    height: 200px;
}